body
{
    background-color: rgb(44, 44, 56);
    font-family: arial;
}

.home-container 
{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.topics h3
{
    color:rgb(146, 160, 190);
    font-size: 40px;
}
.topic_name a
{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 38px;
    font-weight: 600;
}
.topic_name a:hover{
    text-decoration: underline;
}
.room{
    border: none;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px ;
    margin-right: 10px;
    background-color: rgb(63, 63, 77);
}
.room a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    margin: 10px;
}
.room a:hover{
    text-decoration: underline;
}
.room span{
    color:rgb(25, 166, 248);
    font-size: 25px;
    text-shadow: 2px 2px 15px rgb(25, 166, 248);
}
.room small{
    display: flex;
    justify-content: right;
    border: none;
    padding: 3px;
    border-radius: 15px;
    margin-left: 88%;
    align-items: center;
    font-size: 17px;
    background-color: rgb(78, 78, 78);
    color:rgb(149, 149, 153);
    font-weight: 700;
    height: 40px;
}
.room .room_topic{
    display: flex;
    justify-content: center;
    text-align: center;
}
.topic_name {
   margin-top: 40px;
}
.room hr{
    border:1px solid rgb(70, 70, 97);
    box-shadow: 0 0 10px rgba(59, 59, 170, 0.5)
}
.message{
    border: none;
    margin:5px;
    border-radius: 10px;
    background-color: rgb(63, 63, 77);
}
.activity{
    color: white;
    border: none;
    border-radius: 10px;
}
.message small{
    margin: 5px;
}
.message .user{
    color: rgb(25, 166, 248);;
    margin-left: 10px;
    text-shadow: 2px 2px 15px rgb(25, 166, 248);
    font-size: 17px;
}
.activity h3{
    border-radius: 10px;
    height: 60px;
    text-align: center;
    line-height: 65px;
    font-size: 30px;
    margin-top: 0px;
    background-color: rgb(69, 69, 100);
}