{% extends 'main.html' %}

{% block content %}
<div class="home-container">

    <div class="topics">
        <h3>Browse Topics</h3>

        <div class="topic_name">
            <a href="{% url 'home' %}">All</a>
        </div>

        {% for topic in topics %}
            <div class="topic_name">
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            </div>
        {% endfor %}
    </div>

    <div>
        <h5>{{room_count}} rooms available</h5>
        <a href="{% url 'create-room' %}">Create Room</a>

        <div class="rooms">
            {% for room in rooms %}
    
            <div class="room">
                {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id %}">Edit</a>
                <a href="{% url 'delete-room' room.id %}">Delete</a>
                {% endif %}
                <span>@{{room.host.username}}</span>
                <h5><a href="/room/{{room.id}}">{{room.name}}</a></h5>
                <hr>
                <div class="room_topic"><small>{{room.topic}}</small></div>
            </div>
    
            {% endfor %}
        </div>
    </div>

    <div class="activity">
        <h3>Recent Activity</h3>
        {% for message in room_messages %}
            <div class="message">
                <small><div class="user">{{message.user}}</div> {{message.created|timesince}}</small>
                <small>replied to "{{message.room}}"</small>

                <p>{{message}}</p>
                {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}">Delete</a>
                {% endif %}
                
            </div>
        {% endfor %}
    </div>

  
</div>

{% endblock %}